<a href="https://colab.research.google.com/github/shivani6420/shivani-160724754114-AI-b-DS/blob/main/feb_10th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Selecting Data
import pandas as pd
data={
    "ID":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","David","Eva"],
    "Age":[22,25,23,24,26],
    "Marks":[85,78,92,88,90]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
print("Displaying only the 'Names' Column\n")
print(df["Name"])
print("\nDisplaying only the 'Name' and 'Marks' Columns\n")
print(df[["Name","Marks"]])
print("\nLocation 0\n",df.iloc[0])
print("\nLocation 1 to 4\n",df.iloc[1:4])
print("\nLocation 1 to 3\n",df.iloc[0:3,1:3])

Original Data:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90
Displaying only the 'Names' Column

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

Displaying only the 'Name' and 'Marks' Columns

      Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     88
4      Eva     90

Location 0
 ID         101
Name     Alice
Age         22
Marks       85
Name: 0, dtype: object

Location 1 to 4
     ID     Name  Age  Marks
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88

Location 1 to 3
       Name  Age
0    Alice   22
1      Bob   25
2  Charlie   23

In [ ]:
#Data Filtering
import pandas as pd
data={
    "ID":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","David","Eva"],
    "Age":[22,25,23,24,26],
    "Marks":[85,78,92,88,90]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
print("\nFiltering data where Names are Alice or Charlie\n")
print(df[(df["Name"] == 'Alice') | (df["Name"] == 'Charlie')])
print("\nFiltering data where Marks is greater than 85\n")
print(df[df["Marks"]>85])
print("\nFiltering data where Age is less than 25\n")
print(df[df["Age"]<25])

Original Data:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

Filtering data where Names are Alice or Charlie

    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92

Filtering data where Marks is greater than 85

    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90

Filtering data where Age is less than 25

    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    David   24     88

In [ ]:
#Data Manipulation
import pandas as pd
data={
    "Name":["A","B","C"],
    "Age":[22,25,23],
    "Marks":[85,78,92]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
print("\nAdding a new column 'Bonus'\n")
df["Bonus"]=5
print(df)
print("\nModifying a column 'Marks'\n")
df["Marks"]=df["Marks"]+5
print(df)
print("\nCreating a new column based on other columns\n")
df["Total Marks"]=df["Marks"]+df["Bonus"]
print(df)
print("\nRenaming a column\n")
df.rename(columns={"Total":"Final"},inplace=True)
print(df)
print("\nDropping a column\n")
df.drop("Bonus",axis=1,inplace=True)
print(df)
print("\nChanging a particular value in the dataframe\n")
df.loc[0,"Age"]=21
print(df)

Original Data:
  Name  Age  Marks
0    A   22     85
1    B   25     78
2    C   23     92

Adding a new column 'Bonus'

  Name  Age  Marks  Bonus
0    A   22     85      5
1    B   25     78      5
2    C   23     92      5

Modifying a column 'Marks'

  Name  Age  Marks  Bonus
0    A   22     90      5
1    B   25     83      5
2    C   23     97      5

Creating a new column based on other columns

  Name  Age  Marks  Bonus  Total Marks
0    A   22     90      5           95
1    B   25     83      5           88
2    C   23     97      5          102

Renaming a column

  Name  Age  Marks  Bonus  Total Marks
0    A   22     90      5           95
1    B   25     83      5           88
2    C   23     97      5          102

Dropping a column

  Name  Age  Marks  Total Marks
0    A   22     90           95
1    B   25     83           88
2    C   23     97          102

Changing a particular value in the dataframe

  Name  Age  Marks  Total Marks
0    A   21     90           95
1    B   25     83           88
2    C   23     97          102

In [ ]:
#Selection Sort
n=int(input("Enter the number of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"Enter element {i+1}:")))
print(f"Original Array:{arr}")
for i in range(n-1):
  min_index=i
  for j in range(i+1,n):
    if arr[j]<arr[min_index]:
             min_index=j
  arr[i],arr[min_index]=arr[min_index],arr[i]
print("\nSorted Array:\n")
print(arr)

Enter the number of elements:5
Enter element 1:9
Enter element 2:1
Enter element 3:7
Enter element 4:4
Enter element 5:2
Original Array:[9, 1, 7, 4, 2]

Sorted Array:

[1, 2, 4, 7, 9]

In [ ]:
#Bubble Sort
n=int(input("Enter the number of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"Enter element {i+1}:")))
print(f"Original Array:{arr}")
for i in range(n-1):
  for j in range(n-i-1):
    if arr[j ]>arr[j+1]:
      arr[j],arr[j+1]=arr[j+1],arr[j]
print("\nSorted Array:\n")
print(arr)

Enter the number of elements:5
Enter element 1:7
Enter element 2:2
Enter element 3:6
Enter element 4:1
Enter element 5:8
Original Array:[7, 2, 6, 1, 8]

Sorted Array:

[1, 2, 6, 7, 8]

In [ ]:
# Insertion Sort
n = int(input("Enter number of elements: "))
arr = []
for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

print("Original Array:", arr)

for i in range(1, n):
    key = arr[i]
    j = i - 1
    while j >= 0 and arr[j] > key:
        arr[j + 1] = arr[j]
        j -= 1
    arr[j + 1] = key

print("Sorted Array:", arr)

Enter number of elements: 5
Enter element 1: 1
Enter element 2: 7
Enter element 3: 3
Enter element 4: 4
Enter element 5: 9
Original Array: [1, 7, 3, 4, 9]
Sorted Array: [1, 3, 4, 7, 9]

In [ ]:
#Linear Search
n=int(input("Enter the number of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"Enter element {i+1}:")))
key=int(input("\nEnter key element to be found:"))
found=False
for i in range(n):
  if arr[i]==key:
    print(f"Element found at position {i+1}")
    found=True
if found==False:
  print("Element not found")

Enter the number of elements:5
Enter element 1:4
Enter element 2:0
Enter element 3:8
Enter element 4:5
Enter element 5:2

Enter key element to be found:8
Element found at position 3

In [ ]:
# Binary Search
n = int(input("Enter the number of elements: "))
arr = []
for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))
arr.sort()
print("\nSorted list:", arr)
key = int(input("\nEnter key element to be found: "))
low = 0
high = n - 1
found = False
while low <= high:
    mid = (low + high) // 2
    if arr[mid] == key:
        print(f"Element found at position {mid + 1}")
        found = True
        break
    elif arr[mid] < key:
        low = mid + 1
    else:
        high = mid - 1
if not found:
    print("Element not found")

Enter the number of elements: 4
Enter element 1: 2
Enter element 2: 7
Enter element 3: 4
Enter element 4: 8

Sorted list: [2, 4, 7, 8]

Enter key element to be found: 7
Element found at position 3