<a href="https://colab.research.google.com/github/shivani6420/shivani-160724754114-AI-b-DS/blob/main/DataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Data Manipulation
import pandas as pd
data={
    "Name":["A","B","C"],
    "Age":[22,25,23],
    "Marks":[85,78,92]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
print("\nAdding a new column 'Bonus'\n")
df["Bonus"]=5
print(df)
print("\nModifying a column 'Marks'\n")
df["Marks"]=df["Marks"]+5
print(df)
print("\nCreating a new column based on other columns\n")
df["Total Marks"]=df["Marks"]+df["Bonus"]
print(df)
print("\nRenaming a column\n")
df.rename(columns={"Total":"Final"},inplace=True)
print(df)
print("\nDropping a column\n")
df.drop("Bonus",axis=1,inplace=True)
print(df)
print("\nChanging a particular value in the dataframe\n")
df.loc[0,"Age"]=21
print(df)

Original Data:
  Name  Age  Marks
0    A   22     85
1    B   25     78
2    C   23     92

Adding a new column 'Bonus'

  Name  Age  Marks  Bonus
0    A   22     85      5
1    B   25     78      5
2    C   23     92      5

Modifying a column 'Marks'

  Name  Age  Marks  Bonus
0    A   22     90      5
1    B   25     83      5
2    C   23     97      5

Creating a new column based on other columns

  Name  Age  Marks  Bonus  Total Marks
0    A   22     90      5           95
1    B   25     83      5           88
2    C   23     97      5          102

Renaming a column

  Name  Age  Marks  Bonus  Total Marks
0    A   22     90      5           95
1    B   25     83      5           88
2    C   23     97      5          102

Dropping a column

  Name  Age  Marks  Total Marks
0    A   22     90           95
1    B   25     83           88
2    C   23     97          102

Changing a particular value in the dataframe

  Name  Age  Marks  Total Marks
0    A   21     90           95
1    B   25     83           88
2    C   23     97          102